a {
	-webkit-background-clip: text;
	background-clip: text;
}

b {
	background-clip: content-box;
}

a {
	-webkit-background-clip: text;
	-moz-background-clip: text;
}

b {
	-webkit-background-clip: content-box;
}
