a {
	display: flex;
	flex-flow: row;
	order: 0;
	box-ordinal-group: 1;
	flex-order: 0;
	flex: 0 auto;
	flex: 0 1 2 auto;
	transition: box-flex 200ms, -webkit-flex 200ms;
}
.inline {
	align-self: auto;
	flex-item-align: auto;
	align-content: stretch;
	flex-line-pack: stretch;
	flex: 1 auto;
	flex: auto auto;
}

.a {
	flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	flex-pack: start;
	align-items: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	align-content: flex-start;
	flex-line-pack: start;
	align-self: flex-start;
	flex-item-align: start;
	flex: 0 auto;
	flex: none auto;
}
.b {
	flex-direction: row;
	flex-direction: row-reverse;
	justify-content: flex-end;
	flex-pack: end;
	align-items: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
	align-content: flex-end;
	flex-line-pack: end;
	align-self: flex-end;
	flex-item-align: end;
	flex-shrink: 1;
	flex-negative: 1;
}
.c {
	flex-direction: column;
	flex-direction: row;
	justify-content: center;
	box-pack: center;
	flex-pack: center;
	align-items: center;
	box-align: center;
	flex-wrap: reverse-wrap;
	align-content: center;
	flex-line-pack: center;
	align-self: center;
	flex-item-align: center;
	flex-basis: auto;
	flex-preferred-size: auto;
}
.e {
	flex-direction: column;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-pack: justify;
	align-items: baseline;
	box-align: baseline;
	align-content: space-between;
	flex-line-pack: justify;
	align-self: baseline;
	flex-item-align: baseline;
}
.f {
	justify-content: space-around;
	flex-pack: distribute;
	align-items: stretch;
	box-align: stretch;
	align-content: space-around;
	flex-line-pack: distribute;
	align-self: stretch;
	flex-item-align: stretch;
}
.g {
	flex: calc(1em + 1px) auto;
	flex: calc(1em + 1px) 0 0 auto;
}
