a {
	background: linear-gradient(350.5deg, white, black), linear-gradient(-130deg, black, white), linear-gradient(45deg, black, white);
}

b {
	background-image: linear-gradient(rgba(0, 0, 0, 1), white), linear-gradient(white, black);
}

strong {
	background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.8) 20px, #000 30px, #000) no-repeat;
}

div {
	background-image: radial-gradient(to left, white, black), repeating-linear-gradient(to bottom right, black, white), repeating-radial-gradient(to top, aqua, red);
}

.radial {
	background: radial-gradient(ellipse farthest-corner, black, white);
}

.simple1 {
	background: linear-gradient(black, white);
}

.simple2 {
	background: linear-gradient(to left, black 0%, rgba(0, 0, 0, 0.5)50%, white 100%);
}

.simple3 {
	background: linear-gradient(to left, black 50%, white 100%);
}

.simple4 {
	background: linear-gradient(to right top, black, white);
}

.direction {
	background: linear-gradient(top left, black, rgba(0, 0, 0, 0.5), white);
}

.silent {
	background: linear-gradient(to bottom right, black, white);
}

.radial {
	background: radial-gradient(farthest-side at 0 50%, white, black);
}

.second {
	background: red linear-gradient(red, blue);
	background: url('logo.png'), linear-gradient(#fff, #000);
}

.px {
	background: linear-gradient(black 0, white 100px);
}

.list {
	list-style-image: linear-gradient(white, black);
}

.mask {
	mask: linear-gradient(white, black);
}

.newline {
	background-image: linear-gradient(white, black), linear-gradient(black, white);
}

.convert {
	background: linear-gradient(270deg, white, black);
}

.rad {
	background: linear-gradient(1rad, white, black);
}

.turn {
	background: linear-gradient(0.3turn, white, black);
}

.norm {
	background: linear-gradient(139deg, white, black);
}

.left1 {
	background: linear-gradient(to right, white, black);
}

.left2 {
	background: linear-gradient(to right, white, black);
}

.left3 {
	background: linear-gradient(to right, white, black);
}

.left4 {
	background: linear-gradient(0.15turn, white, black);
}

.old-simple1 {
	background: linear-gradient(135deg, black, white);
}

.old-simple2 {
	background: linear-gradient(270deg, black, rgba(0, 0, 0, .5), white);
}

.old-simple3 {
	background: linear-gradient(270deg, black 50%, white);
}

.old-simple4 {
	background: linear-gradient(45deg, black, white);
}

.old-direction {
	background: linear-gradient(135deg, black, rgba(0, 0, 0, .5), white);
}

.old-second {
	background: red linear-gradient(red, blue);
}

.old-list {
	list-style-image: linear-gradient(white, black);
}

.old-mask {
	mask: linear-gradient(white, black);
}

.old-newline {
	background-image: linear-gradient(white, black), -webkit-gradient(linear, left top, left bottom, from(black), to(white));
}

.old-convert {
	background: linear-gradient(270deg, white, black);
}

.old-rad {
	background: linear-gradient(white, black);
}

.old-norm {
	background: linear-gradient(270deg, white, black);
}

.radia-test {
	background-image: radial-gradient(30px at 45px 45px, #a7d30c, #019f62 90%, rgba(1, 159, 98, 0)), -webkit-gradient(radial, 105 105, 20, 112 120, 50, from(#ff5f98), to(rgba(255, 1, 136, 0)), color-stop(75%, #ff0188)), -webkit-gradient(radial, 95 15, 15, 102 20, 40, from(#00c9ff), to(rgba(0, 201, 255, 0)), color-stop(80%, #00b5e2)), -webkit-gradient(radial, 0 150, 50, 0 140, 90, from(#f4f201), to(rgba(228, 199, 0, 0)), color-stop(80%, #e4c700));
}

.cov-1 {
	background: linear-gradient(0, white 0);
	mask: radial-gradient(white, black);
}

.cov-2 {
	background: linear-gradient(to right, white, black);
	mask: linear-gradient(1err, white, black);
}

.cov-3 {
	background: linear-gradient(white, black);
}

.cov-3 {
	background: linear-gradient(white, black);
}

.cov-4 {
	background: radial-gradient(err at 0 150px, #f4f201, #e4c700 80%, rgba(228, 199, 0, 0));
}

.cov-5 {
	background: radial-gradient(5err at 0 150px, #f4f201, #e4c700 80%, rgba(228, 199, 0, 0));
}

.cov-6 {
	background: radial-gradient(at 0 150px, #f4f201, #e4c700 80%, rgba(228, 199, 0, 0));
}

.cov-7 {
	background: radial-gradient(#f4f201, #e4c700 80%, rgba(228, 199, 0, 0));
}

.cov-8 {
	background: radial-gradient(closest-side at 0 50%, white, black);
}
