a {
	background: -webkit-linear-gradient(99.5deg, white, black), -webkit-linear-gradient(220deg, black, white), -webkit-linear-gradient(45deg, black, white);
	background: -o-linear-gradient(99.5deg, white, black), -o-linear-gradient(220deg, black, white), -o-linear-gradient(45deg, black, white);
}

b {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(white)), -webkit-gradient(linear, left top, left bottom, from(white), to(black));
	background-image: -webkit-linear-gradient(rgba(0,0,0,1), white), -webkit-linear-gradient(white, black);
	background-image: -o-linear-gradient(rgba(0,0,0,1), white), -o-linear-gradient(white, black);
}

strong {
	background: -webkit-linear-gradient(bottom, transparent, rgba(0, 0, 0, .8) 20px, #000 30px, #000) no-repeat;
	background: -o-linear-gradient(bottom, transparent, rgba(0, 0, 0, .8) 20px, #000 30px, #000) no-repeat;
}

div {
	background-image: -webkit-radial-gradient(right, white black), -webkit-repeating-linear-gradient(top left, black, white), -webkit-repeating-radial-gradient(bottom, aqua, red);
	background-image: -o-radial-gradient(right, white black), -o-repeating-linear-gradient(top left, black, white), -o-repeating-radial-gradient(bottom, aqua, red);
}

.radial {
	background: -webkit-radial-gradient(ellipse farthest-corner, black, white);
	background: -o-radial-gradient(ellipse farthest-corner, black, white);
}

.simple1 {
	background: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
	background: -webkit-linear-gradient(black, white);
	background: -o-linear-gradient(black, white);
}

.simple2 {
	background: -webkit-gradient(linear, right top, left top, from(black), color-stop(50%, rgba(0, 0, 0, .5)), to(white));
	background: -webkit-linear-gradient(right, black 0%, rgba(0, 0, 0, .5)50%, white 100%);
	background: -o-linear-gradient(right, black 0%, rgba(0, 0, 0, .5)50%, white 100%);
}

.simple3 {
	background: -webkit-gradient(linear, right top, left top, color-stop(50%, black), to(white));
	background: -webkit-linear-gradient(right, black 50%, white 100%);
	background: -o-linear-gradient(right, black 50%, white 100%);
}

.simple4 {
	background: -webkit-gradient(linear, left bottom, right top, from(black), to(white));
	background: -webkit-linear-gradient(left bottom, black, white);
	background: -o-linear-gradient(left bottom, black, white);
}

.direction {
	background: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(rgba(0, 0, 0, .5)), to(white));
	background: -webkit-linear-gradient(top left, black, rgba(0, 0, 0, .5), white);
	background: -o-linear-gradient(top left, black, rgba(0, 0, 0, .5), white);
}

.silent {
	background: -webkit-linear-gradient(top left, black, white);
}

.radial {
	background: -webkit-radial-gradient(0 50%, farthest-side, white, black);
	background: -o-radial-gradient(0 50%, farthest-side, white, black);
}

.second {
	background: red -webkit-gradient(linear, left top, left bottom, from(red), to(blue));
	background: red -webkit-linear-gradient(red, blue);
	background: red -o-linear-gradient(red, blue);
	background: url("logo.png"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000));
	background: url("logo.png"), -webkit-linear-gradient(#fff, #000);
	background: url("logo.png"), -o-linear-gradient(#fff, #000);
}

.px {
	background: -webkit-linear-gradient(black 0, white 100px);
	background: -o-linear-gradient(black 0, white 100px);
}

.list {
	list-style-image: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
	list-style-image: -webkit-linear-gradient(white, black);
}

.mask {
	-webkit-mask: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
	-webkit-mask: -webkit-linear-gradient(white, black);
	mask: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
}

.newline {
	background-image: -webkit-gradient( linear, left top, left bottom, from(white), to(black) ),
	-webkit-gradient( linear, left top, left bottom, from(black), to(white) );
	background-image: -webkit-linear-gradient( white, black ),
	-webkit-linear-gradient( black, white );
	background-image: -o-linear-gradient( white, black ),
	-o-linear-gradient( black, white );
}

.convert {
	background: -webkit-gradient(linear, right top, left top, from(white), to(black));
	background: -webkit-linear-gradient(right, white, black);
	background: -o-linear-gradient(right, white, black);
}

.rad {
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
	background: -webkit-linear-gradient(top, white, black);
	background: -o-linear-gradient(top, white, black);
}

.turn {
	background: -webkit-linear-gradient(342deg, white, black);
	background: -o-linear-gradient(342deg, white, black);
}

.norm {
	background: -webkit-gradient(linear, right top, left top, from(white), to(black));
	background: -webkit-linear-gradient(right, white, black);
	background: -o-linear-gradient(right, white, black);
}

.left {
	background: -webkit-linear-gradient(0deg, white, black);
}

.left {
	background: -webkit-linear-gradient(1grad, white, black);
}

.left {
	background: -webkit-linear-gradient(1rad, white, black);
}

.left {
	background: -webkit-linear-gradient(0.1turn, white, black);
}
