a {
	background: linear-gradient(350.5deg, white, black), linear-gradient(230deg, black, white), linear-gradient(45deg, black, white);
}

b {
	background-image: linear-gradient(rgba(0,0,0,1), white), linear-gradient(white, black);
}

strong {
	background: linear-gradient(to top, transparent, rgba(0, 0, 0, .8) 20px, #000 30px, #000) no-repeat;
}

div {
	background-image: radial-gradient(at right, white black), repeating-linear-gradient(to bottom right, black, white), repeating-radial-gradient(at bottom, aqua, red);
}

.radial {
	background: radial-gradient(ellipse farthest-corner, black, white);
}

.simple1 {
	background: linear-gradient(black, white);
}

.simple2 {
	background: linear-gradient(to left, black 0%, rgba(0, 0, 0, .5)50%, white 100%);
}

.simple3 {
	background: linear-gradient(to left, black 50%, white 100%);
}

.simple4 {
	background: linear-gradient(to right top, black, white);
}

.direction {
	background: linear-gradient(to bottom right, black, rgba(0, 0, 0, .5), white);
}

.silent {
	background: linear-gradient(to bottom right, black, white);
}

.radial {
	background: radial-gradient(0 50%, farthest-side, white, black);
}

.second {
	background: url("logo.png"), linear-gradient(#fff, #000);
}

.px {
	background: linear-gradient(black 0, white 100px);
}

.list {
	list-style-image: linear-gradient(white, black);
}

.mask {
	mask: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
}

.newline {
	background-image: linear-gradient( white, black ),
	linear-gradient( black, white );
}

.convert {
	background: linear-gradient(to left, white, black);
}

.rad {
	background: linear-gradient(to bottom, white, black);
}

.turn {
	background: linear-gradient(108deg, white, black);
}

.norm {
	background: linear-gradient(to left, white, black);
}

.left {
	background: linear-gradient(to right, white, black);
}

.left {
	background: linear-gradient(89.10000000000002deg, white, black);
}

.left {
	background: linear-gradient(to left, white, black);
}

.left {
	background: linear-gradient(54deg, white, black);
}
