.a {
	break-inside: auto;
	break-before: auto;
	break-after: auto;
}

.b {
	break-inside: avoid;
}

.c {
	break-inside: avoid-column;
}

.d {
	page-break-inside: avoid;
	break-inside: avoid-page;
}

.e {
	break-inside: avoid-region;
}

.a {
	break-inside: auto;
	break-before: auto;
	break-after: auto;
}

.b {
	break-inside: avoid-column;
}

.c {
	break-inside: avoid-column;
}

