[href=:fullscreen] {
}

:fullscreen a {
	box-sizing: border-box;
}

:fullscreen a {
	color: black;
}

@media all {
	:fullscreen a {
		color: black;
	}
}

p::selection {
	color: white;
	background: black;
}

input::placeholder {
	color: pink;
}

a[data-foo=":-webkit-full-screen"] {

}

.class::-webkit-scrollbar {
}